---
export const partial = true;
import PhaseEdit from "@/components/PhaseEdit.astro";
import { getScenarioWithPhases } from "@/data/db";

const id = Number(Astro.params.id);
const scenario = await getScenarioWithPhases(id);
---

<form hx-swap="outerHTML" hx-put=`/api/scenarios/${id}`>
  <ol
    class="htmx-request:opacity-30 htmx-request:pointer-events-none mt-6 space-y-1"
  >
    {scenario.phases.map((phase) => <PhaseEdit phase={phase} />)}
  </ol>

  <div class="flex gap-2">
    <button
      type="button"
      class="mt-2 flex h-8 items-center justify-center rounded-lg bg-transparent px-2 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
    >
      Add phase
    </button>
    <button
      type="submit"
      class="ml-auto mt-2 flex h-8 items-center justify-center rounded-lg bg-transparent px-2 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
    >
      Save
    </button>
    <button
      type="button"
      class="mt-2 flex h-8 items-center justify-center rounded-lg bg-transparent px-2 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
      hx-get=`/api/scenarios/${id}`
    >
      Cancel
    </button>
  </div>
</form>
