---
export const partial = true;

import { getPhase } from "@/data/db";

const { id } = Astro.params;
const phase = await getPhase(Number(id));
---

<form class="contents" hx-put={`/api/phases/${phase.id}`} hx-swap="outerHTML">
  <div class="flex flex-grow justify-between">
    <span>{phase.name}</span>
    <input
      type="number"
      name="duration"
      value={phase.duration}
      class="w-12 rounded bg-zinc-500 pl-2"
    />
  </div>
  <div>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12.75l6 6 9-13.5"></path>
      </svg>
    </button>
    <button hx-get={`/api/phases/${phase.id}`} hx-swap="outerHTML">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</form>
