---
import type { ScenarioWithPhases } from "@/data/types";
import Phase from "./Phase.astro";

interface Props {
  scenario: ScenarioWithPhases;
}

const { scenario } = Astro.props;
---

<div>
  <ol class="mt-4">
    {scenario.phases.map((phase) => <Phase phase={phase} />)}
  </ol>
</div>
