---
import type { ScenarioWithPhases } from "@/data/types";
import Phase from "./Phase.astro";

interface Props {
  scenario: ScenarioWithPhases;
}

const { scenario } = Astro.props;
---

<div hx-target="this">
  <ol
    class="htmx-request:opacity-30 htmx-request:pointer-events-none mt-6 space-y-1"
  >
    {scenario.phases.map((phase, i) => <Phase phase={phase} order={i} />)}
  </ol>

  <button
    type="button"
    class="ml-auto mt-2 flex h-8 items-center justify-center rounded-lg bg-transparent px-2 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
    hx-get=`/api/scenarios/${scenario.id}/edit`
  >
    Edit
  </button>
</div>
