---
import type { Phase } from "@/data/types";

interface Props {
  phase: Phase | null;
  order: number;
}

const { phase, order } = Astro.props;
---

<li
  class="flex items-center justify-between gap-2 overflow-hidden rounded-md p-2 hover:bg-slate-300 dark:hover:bg-slate-600"
  data-order={order}
  x-on:click="$dispatch('stayahead:changephase', { phaseIdx: +$el.dataset.order })"
  :class=`${order} === $store.curPhase && 'bg-slate-200 dark:bg-slate-700'`
>
  <span>{phase?.name}</span>
  <span>{phase?.duration ? phase.duration + "s" : "Manual"}</span>
</li>
