---
import type { Phase } from "@/data/types";

interface Props {
  phase: Phase;
}

const phase = Astro.props.phase;
---

<li
  class="flex justify-between gap-8 border border-b-0 border-gray-600 p-2 first:rounded-tl first:rounded-tr last:rounded-bl last:rounded-br last:border-b"
  hx-target="this"
>
  <div class="flex flex-grow justify-between">
    <span>{phase.name}</span>
    <span>{phase.duration ? `${phase.duration}s` : "Manual"}</span>
  </div>
  <button hx-get={`/api/phases/${phase.id}/edit`}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-4 w-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
      ></path>
    </svg>
  </button>
</li>
