---
import type { ScenarioWithPhases } from "@/data/types";
import CurrentScenario from "./CurrentScenario.astro";
import ScenariosList from "./ScenariosList.astro";

interface Props {
  scenario: ScenarioWithPhases;
}

const { scenario } = Astro.props;
---

<!-- drawer init and toggle -->
<div x-data="{open: true}">
  <button
    class="fixed ms-3 mt-2 inline-flex items-center rounded-lg p-2 text-sm text-slate-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    type="button"
    aria-controls="drawer"
    x-on:click.stop="open = !open"
  >
    <span class="sr-only">Open sidebar</span>
    <svg
      class="h-6 w-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg>
  </button>

  <!-- drawer component -->
  <div
    class="relative left-0 top-0 z-40 h-screen w-80 overflow-y-auto bg-slate-100 p-4 text-slate-800 transition-transform dark:bg-gray-800 dark:text-white lg:translate-x-0"
    tabindex="-1"
    aria-labelledby="drawer-label"
    x-on:click.outside="open = false"
    :class="!open && '-translate-x-full'"
  >
    <button
      type="button"
      class="absolute end-2.5 top-2.5 flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white lg:hidden"
      x-on:click="open = false"
    >
      <svg
        class="h-3 w-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>

    <ScenariosList />

    <CurrentScenario scenario={scenario} />
  </div>
</div>
