---
import { getScenarioWithPhases } from "@/data/db";
import type { ScenarioWithPhases } from "@/data/types";

const id = Number(Astro.params.id);

const scenario: ScenarioWithPhases = await getScenarioWithPhases(id);
---

<h1 class="text-xl">Edit page for Scenario: {scenario.name}</h1>

<ol>{scenario.phases.map((s) => <li>{s.name}</li>)}</ol>

<form hx-post="/scenario-edit">
  <h2>New phase</h2>
  <label>
    Name
    <input
      type="text"
      class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-700 focus:outline-none"
    />
  </label>
  <button>Submit</button>
</form>
